.container {
	width: 95%;
	height: 100vh;
	margin: 0 auto;
}

.disk_btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
}

.disk_btns_select {
	display: flex;
	flex-direction: row;
}

.disk_btn {
	display: flex;
	padding: 10px;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgb(57, 221, 250);
	color: rgb(49, 48, 48);
	border: none;
	box-shadow: none;
	margin-right: 20px;
}

.disk_btn:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.disk_btn_create {
	display: flex;
	padding: 10px;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgb(63, 159, 67);
	color: rgb(227, 227, 227);
	border: none;
	box-shadow: none;
}

.disk_btn_create:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.file_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 20px auto;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

thead th:nth-child(1) {
	width: 15%;
}

thead th:nth-child(2) {
	width: 30%;
}

thead th:nth-child(3) {
	width: 15%;
}

thead th:nth-child(4) {
	width: 20%;
}

thead th:nth-child(5) {
	width: 30%;
}

th,
td {
	padding: 20px;
	font-size: 12px;
	text-transform: uppercase;
}

th {
	letter-spacing: 2px;
}

td {
	letter-spacing: 1px;
}

tbody td {
	text-align: center;
}

td img {
	display: inline-block;
	width: 30px;
	height: 30px;
}

tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

tbody tr:nth-child(even) {
	background-color: #e2edff;
}

tbody tr:hover {
	background: rgb(57, 221, 250);
}

.container_popup {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	width: 400px;
	background: white;
	padding: 20px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

.popup_header {
	display: flex;
	justify-content: space-between;
}

.popup_header_title {
	color: rgb(48, 48, 48);
	font-size: 16px;
	text-transform: uppercase;
}

.popup_close:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.disk_btn {
	align-self: center;
}

.popup input {
	/* margin: 30px 0px; */
	width: 100%;
	border: 1px solid rgb(159, 243, 254);
	border-radius: 4px;
}

.disk_buttons {
	display: flex;
	width: 25%;
	justify-content: space-between;
	align-items: center;
}

.disk_upload_label {
	border: 2px dashed #566885;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
}

.disk_upload_input {
	display: none;
}

.drag_area {
	width: 100%;
	height: calc(100vh - 50px - 40px);
	margin: 20px;
	border: dashed 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

.download_btn {
	display: flex;
	padding: 10px;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgb(63, 159, 67);
	color: rgb(227, 227, 227);
	border: none;
	box-shadow: none;
}

.download_btn:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.delete_btn {
	display: flex;
	padding: 10px;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: rgb(205, 10, 10);
	color: rgb(227, 227, 227);
	border: none;
	box-shadow: none;
}

.delete_btn:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.action_btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
}

tbody tr:hover .action_btns {
	opacity: 1;
}

.uploader {
	height: 300px;
	width: 300px;
	position: fixed;
	background-color: rgba(57, 221, 250, 0.2);
	bottom: 20px;
	right: 20px;
	padding: 20px;
	border-radius: 12px;
	overflow-y: auto;
}

.uploader_header {
	display: flex;
	justify-content: space-between;
}

.uploader_header_title {
	color: rgb(48, 48, 48);
	font-size: 1.2rem;
}

.uploader_close {
	padding: 3px;
}

.upload_file {
	background-color: rgb(51, 207, 235);
	border-radius: 8px;
	margin: 5px 0;
	padding: 5px 10px;
}

.upload_file_header {
	display: flex;
	justify-content: space-between;
}

.upload_file_progress_bar {
	height: 1rem;
	border-radius: 8px;
	background-color: #ffffff;
	display: flex;
	margin: 3px 0;
}

.upload_file_upload_bar {
	background-color: green;
	border-radius: 8px;
}

.upload_file_percent {
	color: #080808;
	left: 50%;
	position: absolute;
}

.empty_space {
	width: 80.5px;
}

.disk_select {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: Roboto;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	font-size: 14px !important;
	line-height: 16px !important;
	color: #5a5a5a;
	background: #fff !important;
	width: 130px;
	height: 40px;
	border: 1px solid #5a5a5a;
	box-sizing: border-box;
	border-radius: 6px;
	margin-right: 12px;
	padding-left: 5px;
}
.disk_select:active,
.disk_select:focus {
	font-weight: 500;
	background: #5a5a5a;
}
