.container {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	background-color: rgb(57, 221, 250);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: -1px;
}

.nav {
	width: 12%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.nav_item {
	margin-left: 30px;
	color: rgb(48, 48, 48);
	font-size: 16px;
	text-decoration: none;
}

.nav_item:hover {
	color: rgb(249, 249, 249);
	cursor: pointer;
}
